.section-axure {
background-image: url("../img/background\ 1.png");
background-repeat: no-repeat;
background-position: center;
max-width: 1170px;
margin: auto;
text-align: center;
position: relative;
padding: 0;
margin-bottom: 0px;
}

.axure-container {
    position: relative;
    z-index: 2;
    padding-bottom: 50px;
}
.title-axure {
    text-align: center;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}
.title-axure::after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 64px;
  border: 1px solid #fff;
  background-color: #fff;
  
}

.subtitle-axure {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 1;
}

.section-axure::before {
    content:"" ;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}




.button {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    background: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 135px;
    height: 42px;
}

