.wraped-title {
    background-color: black;
    display: inline-block;
    color: #fff;
    width: 1170px;
    
    /* font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.7);
    height: 110px; */
}

