.section-header {
background-color: rgb(8, 3, 3);
padding: 0px;
}



.wrap-header {

display: flex;
justify-content: space-between;
align-items: center;


}

.header-logo {

    font-size: 35px;
    color: #fff;
}
.header-logo span {
    color: #fff;
}
.header-logo a::after {
    content: 'IT';
    color: coral;
}
.navigation-list {
    width: 680px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



    

  .navigation-list-item a {

    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    
  }


  .navigation-list-item {
    padding: 20px 0;
    border-bottom: 3px solid transparent;
    transition: 0.2s;
}

.navigation-list-item:hover {
    border-bottom: 3px solid coral;
    color: coral; 
    cursor: pointer;
}

.navigation-list-item-link {
    color: rgba(255, 255, 255, 70%);
    font-size: 15px;
}