.section-pricing {
background-color:#F5F5F5;
}

.wrap-pricing {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 50px;
}
.pricing-tariff:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.pricing-subtext:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.pricing-cost:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


.pricing-tariff {
    line-height: 50px;
    margin-bottom: 2px;
    background-color: #333333;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color:  #FFFFFF; 
    
}

.pricing-item {
    margin: 0 15px;
    width: 340px;
    transition: .2s;
    text-align: center;
    padding: 0;
    }
    
.pricing-cost {
    line-height: 100px;
    margin-bottom: 2px;
    background-color: #333333;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color:  #FFFFFF; 
    
}


.pricing-subtext {
    margin-bottom: 4px;
    line-height: 40px;
    background-color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    transition: .4s;
}

.pricing-subtext-child {
    margin-bottom: 0px;
}